body
{
 margin: 0;
 padding: 0;
 background-color: #f9f9f9;
 background-image: url("../images/pattern.png");
 background-repeat: repeat;
 background-position: left top;
 background-attachment: scroll;
}

a
{
 color: #fff;
}

a:hover
{
 color: yellow;
 text-decoration: none;
}

.sto
{
 margin: 0 auto;
 text-align: center;
 padding: 20px;
}

#show
{
 display: none;
}

@media only screen and (min-width: 700px)
{
.logo
{
 padding: 40px;
 background-color: rgba(0, 128, 128, 0.5);
}

header div.drop
{
 background-color: rgba(0, 128, 128, 0.8);
 color: #fff;
 text-align: center;
 padding: 5px;
 box-shadow: 0 5px 5px rgba(66, 47, 47, 0.3);
}

header div.drop h5
{
 background-color: rgb(0, 50, 50);
 padding: 15px;
 border-radius: 20px;
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
 color: #fff;
 width: 60%;
 margin: 20px auto;
}

nav.nav-bar a
{
 display: inline;
 color: #fff;
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
 padding: 10px;
 margin-right: 5px;
 border-radius: 10px;
 text-align: center;
}

nav.nav-bar a:hover
{
 display: inline;
 color: #000;
 background-color: #fff;
 box-shadow: 0 0 5px #000;
 padding: 10px;
 margin-right: 5px;
 border-radius: 10px;
 text-align: center;
}

nav.nav-bar a:last-child
{
 margin-right: -5px;
}

nav.nav-bar
{
 float: right;
 margin-top: 10px;
}

.details
{
 background-color: rgba(15, 0, 0, 0.4);
 padding: 25px;
 box-align: 0 0 5px #a9a9a9;
 width: 70%;
 margin: 0 auto;
 margin-top: 60px;
 border-radius: 10px 10px 0 0;
 text-align: center;
 clear: both;
}

.details-2
{
 background-color: rgba(0, 128, 128, 0.4);
 padding: 30px;
 color: #fff;
 width: 70%;
 margin: 0 auto;
 margin-bottom: 60px;
 border-radius: 0 0 10px 10px;
}

.footer
{
 box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.3);
 padding: 30px;
 background-color: rgba(0, 128, 128, 0.5);
 text-align: center;
}

.footer span
{
 color: #fff;
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
 padding: 10px;
 border-radius: 10px;
 text-align: center;
}
}

@media only screen and (max-width: 699px)
{
.logo
{
 padding: 30px;
 background-color: rgba(0, 128, 128, 0.5);
 text-align: center;
}

header div.drop
{
 background-color: rgba(0, 128, 128, 0.8);
 color: #fff;
 text-align: center;
 padding: 5px;
 margin-bottom: 60px;
 box-shadow: 0 5px 5px rgba(66, 47, 47, 0.3);
}

header div.drop h5
{
 background-color: rgb(0, 50, 50);
 padding: 15px;
 border-radius: 20px;
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
 color: #000;
 width: 80%;
 margin: 20px auto;
}

nav.nav-bar a
{
 display: block;
 color: #fff;
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
 padding: 15px;
 margin-right: 0;
 margin: 10px auto;
 border-radius: 10px;
 text-align: center;
}

nav.nav-bar a:hover
{
 display: block;
 color: #000;
 background-color: #fff;
 box-shadow: 0 0 5px #000;
 padding: 15px;
 margin-right: 0;
 border-radius: 10px;
 text-align: center;
}

nav.nav-bar a:last-child
{
 margin-right: 0;
 margin-bottom: -10px;
}

nav.nav-bar
{
 float: none;
 margin-top: 20px;
}

.details
{
 background-color: rgba(15, 0, 0, 0.4);
 padding: 25px;
 box-align: 0 0 5px #a9a9a9;
 width: 90%;
 margin: 0 auto;
 margin-top: 60px;
 border-radius: 10px 10px 0 0;
 clear: both;
 text-align: center;
}

.details-2
{
 background-color: rgba(0, 128, 128, 0.4);
 padding: 30px;
 color: #fff;
 width: 90%;
 margin: 0 auto;
 margin-bottom: 60px;
 border-radius: 0 0 10px 10px;
}

.footer
{
 box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.3);
 padding: 30px;
 background-color: rgba(0, 128, 128, 0.5);
 text-align: center;
}

.footer span
{
 color: #fff;
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
 padding: 10px;
 border-radius: 10px;
 text-align: center;
}
}