
body {
    overflow-x: hidden;
}
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  .mybtn{
    padding: 5px;
    border: 0px;
    background-color: #fff;
  }
  .icons > a {
    padding: 10px;
  }
  .icons :hover{
    color: blue; 
  }
  .responsive > img {
    height: 210px;
  }
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (max-width: 800px){
    .responsive > img {
      height: 100%;
    }
  }

  @media (min-width: 768px) {
    .mybtn{
     display: block;
    }
    
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  