
body{
    font-family: 'Hind', sans-serif;
    

}

.loginBox{
    position: relative;
    width: 100%;
    height: 655px;
    margin: 0px;
    
}   

.loginBox--inner{
    position: absolute;
    top: 12%;
    left:31%;
    width: 40%;
    height: 550px;
    background:linear-gradient(rgba(246, 247, 248, 0.8),rgba(245, 246, 247, 0.8)) 
}

.form{
    padding:  100px;
}

.form-header{
    padding: 5px 0;
}


.form-header h3{
    color: #323232;
    font-size: 26px ;
    text-transform: uppercase;
    font-weight: bold
}

.form .form-group label{
    text-transform: uppercase;
    color: rgb(196, 192, 192);
}


.form .form-group {
    margin: 10px 0;
}

.form .form-group .form-control{
    padding: 25px;
    background: transparent;
    border-radius: 40px ;
    color: #323232;
    border: 1px solid rgb(209, 207, 207);
}

.form .form-group button{
    padding: 15px;
    border-radius: 40px ;
}

.form .form-group span{
    color:rgba(123, 130, 139, 0.6);
}


.form .form-group .form-check{
    background:rgba(123, 130, 139, 0.6);
}

.styled-hr{
    margin-top: 70px;
    border-width: 2px; 
    border-color:rgba(123, 130, 139, 0.6);
}

.bottomH{
    color: rgba(123, 130, 139, 0.6);
    font-size: 14px;
}

.alert{
    display: none;
    background: red ;
    color: #fff;

}

/* TITARO ERROR REPORTING CSS */
.error
{
 background-color: rgb(161, 37, 37);
 padding: 15px;
 border-radius: 20px;
 color: #fff;
 text-align: center;
}

.success
{
 background-color:rgb(51, 163, 51);
 padding: 15px;
 border-radius: 20px;
 color: #fff;
 text-align: center;
}
/* END TITARO ERROR REPORTING CSS */

.hasError .form-control{
    border: 1px solid red;
}


@media only screen and (max-width: 600px) {
    .loginBox--inner{
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
    }
   
    .mq-none{
        display: none;
    }

    .form{
        padding: 50px 30px;
    }
  }

  @media only screen and (max-width: 720px) {
    .loginBox--inner{
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;

    }
  }


  .text-box{
      padding: 20px 0;
      margin-top: 20px;
  }