* {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Hind', sans-serif;


}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    /*padding: 15px;*/
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

#main {
    background: 161a2f69;
    width: 420px;
    top: 50%;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.52);
    display: flex;
    flex-direction: column;
}

#logincontainer,
#registercontainer {
    padding: 30px;
}

.form-control {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.inputbox {
    height: 35px;
    border: none;
    padding: 5px;
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.inputbox:focus {
    outline-color: #01A2C3;
}


#login-tab,
#register-tab {
    padding: 10px;
    width: 45%;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.active {
    background: #15a088e8;
}

.textcenter {
    text-align: center;
}

.signuptxt,
.forgettxt {
    font-size: 12px;
    margin: 10px;
    color: #fff;
}

.link,
.link:active,
.link:visited {
    text-decoration: none;
    color: #15a088e8;
}

#loginulcontainer {
    position: relative;
}

  
.hero{
    width: 100%;
    height: 600px;
    padding: 30px;

}

.img-block{
    width: 500px;

}

.hero-heading{
    padding: 30px;
    margin: 70px  auto;
}

.top-header{
    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
    padding: 10px 70px;
    width: 100% !important;
}


.navbar-brand{
    font-size: 30px;
    color: #323232;
    font-family:  'Hind', sans-serif;
}

.navbar-link{
    font-family: 'Hind', sans-serif;
}

.hero2{
    padding: 70px;
    background: #f5f5f5;
}




.benefit-img{
    border-radius: 50%;
    width: 20%;
}

.benefits-col{
    padding: 20px;
}

.hero-footer{
    padding: 15px;
    box-shadow: 0 25px 4px 0 rgba(0,0,0,.1);
    background: #0f5d98;
}
.hero-footer .btn-primary{
    width: 20% ;
    font-size: 18px;
    padding: 20px;
}
.hero-footer .btn-primary i{
    font-size: 18px;
}

.navbar-toggle{
    float: left;
}

@media only screen and (max-width: 720px) {

    .hero2{
        padding: 60px 10px;
    }
    .img-block{
        padding: 40px 0;
    }

    .benefits-col{
        padding: 0;
    }

    .benefit-img{
        width: 50%;
        border-radius: 50%;
    }

    .hero .img-block{
        display: none;
    }

    .hero-footer .btn-primary{
        width: 100%  ;

    }



}



@media only screen and (max-width: 1000px) and (min-width: 900px) {

    .hero2{
        padding: 60px 10px;
    }
    .img-block{
        padding: 40px 0;
    }

    .benefits-col{
        padding: 0;
    }

    .benefit-img{
        width: 50%;
        border-radius: 50%;
    }

    [class*="col-"] {
        width: 50%;
    }



    .hero-footer .btn-primary{
        width: 70%  ;

    }



}
