* {
    outline: none;
    vertical-align: middle;
    background-repeat: no-repeat;
}

*, ::after, ::before, html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.danger {
    color: brown;
}

.header {
    background: #201e1d;
}

.favicon {
  width: 100px;
  height: 50px;
  margin-left: 80px;
  color: #fff;
}

.favicon > h1 {
    width: 100%;
    height: auto;
   
}

.navbar {
    list-style: none;
    overflow: hidden;
    padding: 0 30px;
    position: relative;
    height: 100%;
    width: auto;
}

.nav--link_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
}
.navbar--item {
    /* display: inline; */
    border-radius: 8px;
}

.toggle--nav, .toggle--icon {
    display: none;
    
}

.navbar--item:not(:last-child) {
    margin-right: 15px;
}

.navbar--item a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 1px;
    transition: 0.5s;
}

a.danger, .navbar--item a:hover {
    color: brown;
    font-weight: 600;
}

.navbar--item a > i {
    display: inline-block;
    padding-right: 5px;
}
.navbar--item.active {
    background: rgb(243, 229, 229);
}

.main--page {
    background: rgb(245, 240, 240);
}

.wrapper {
    padding: 10px 80px;
}

.shelve--container {
    background: rgb(243, 217, 217);
    padding-top: 30px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 50px;
}

.grid-align {
    position: relative;
    background: #fff;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    overflow: hidden;
    padding-bottom: 40px;
}

.grid-align > i.control {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
    padding: 15px;
    font-size: 1.3em;
    border-radius: 50%;
    background: #e0e0e0;
    cursor: pointer;
}

i.left {
    left: 5px;
}

i.right {
    right: 5px;
}
.card {
    width: 200px;
    height: 250px;
}

.card img {
    width: 100%;
    height: auto;
}

.card:not(:last-child) {
    margin-right: 40px;
}



@media (max-width: 992px) {
    
    .toggle--nav {
        display: block;
    }
    .navbar--item.toggle--icon  {
        display: inline-block;
        cursor: pointer;
        padding: 10px;
        border-radius: 50%;
    }

    .navbar--item.toggle--icon:active {
        background: #e0c2c2;
    }

    .navbar.wrapper {
        padding: 5px;
    }

    .header {
        background: transparent;
    }

    .nav--link_container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        /* display: inline-block; */
        width: 0;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        background: #201e1d;
        overflow: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 25px;
        color: #fff;
    }

    .navbar--item {
        display: block;
        padding: 10px 15px;
    }

    .grid-align > i.control {
        display: none;
    }

    .wrapper {
        padding: 10px 30px;
    }

    .card {
        width: 100px;
        height: 125px;
        margin-bottom: 50px !important;
    }

}

@media (max-width: 560px) {
    .wrapper {
        padding: 10px;
    }
}
@media (max-height: 450px) {
    .nav--link_container {
        padding-top: 15px;
    }
}